*{
  margin: 0;
	padding: 0;
  
}


.height{
  background-color: #928abe80;
  height: 3500px;
}

.logo{
 position: static;
 top: 0px;
height: 104px;
  z-index: -1;
	
}
.logo:hover{
	background: rgb(28, 236, 56);
	border:none;
	box-shadow: 5px 5px 10px ;
	transition:03s;
}
.navbar{ 
 position: relative;
left: initial;
    background-color: black;
    display: flex;
    align-items: center;
    height: 100px;
}
.navbar ul{
    display: flex;
}

.navbar ul li{
   
    list-style-type: none;
}
.navbar ul li a {
    
    color: white;
    display: block;
    padding: 0px 27px;
    text-decoration: none;
    border-radius: 20px;
 
}
.navbar2{position: relative;
  top: 0px;
display: flex;
justify-content: center;
align-items: center;
  background-color: #503f3f;
  padding: 10px;
  margin: 0%;
  height: 40px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  
}

.navbar2 li{
  height: 10px;
  float: left;
list-style: none; 
}
.navbar2 li a{

  text-decoration: none;
  color: beige;
  margin: 13px 20px;
  font-size: larger;
  padding: 25px 28px;
}
.navbar2 li a:hover{
color: #bb0000;
}
 

/* Product Card */
.card {
  float: left;
  background-color: azure;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 315px;
  max-width: 500px;
  margin:55px;
padding: 10px;
  text-align: center;
  font-family: arial;
}
.card1 img{
  width: 300px;
}
.card2 img{
  width: 300px;
  height:199px;
}
.card3 img{
  width: 300px;
  height:199px;
}
button a{
  text-decoration: none;
  color: white;
}
.demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.social{
  list-style: none;
  display: flex;
    align-items: center;
    margin: 30px;
   }
.social li {
  margin: 0% 10px;

}
.social a i {
  font-size: 30px;
}
.social a:hover i{
  color: rgb(255, 0, 0);
}
footer{
  position:absolute;
   bottom:-3500px;
     left: 0;
     right: 0;
     color: white;
     background-color: black;
     height: 212px;;
     width: 100vw;
     
 }
 .item1{

   margin-left: 370px;
   color: white;
 }
   .footer-content{
       display: flex;
       align-items: center;
       justify-content: center;
     flex-direction: column;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       
   }
   .footer-bottom{
     background-color: rgb(31, 25, 25);
     width: 100vw;
      text-align: center;
     }
   .footer-bottom p{
     text-transform: capitalize;
   }
   .fa-instagram {
     background: #125688;
       color: white;
     }
     .fa-facebook {
       background: #3B5998;
       color: white;
     }
     .fa-telegram {
       background: #55ACEE;
       color: white;
     }
     .fa-youtube {
      background: #bb0000;
      color: white;
    }
